h1,
h3{
   
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#travelButtons {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

.cities{
    margin:1px;
}

#message {
    color: rgb(58, 133, 218);
    font: 30px;
}